<div class="container-fluid fixed-bottom">
  <div class="row" style="height: 100%;">
    <div class="col-sm-4 mw-100  d-flex" style="margin-bottom : 15px; margin-top: 10px; font-family: 'Volkhov', serif; color:gray;">
      <div class="row">
        <div class="col">
          <img src="./assets/imgs/logoSF.png">
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-bottom : 5px; margin-top: 10px; font-family: 'Volkhov', serif; color:gray;">
    </div>
    <div class="col-sm-4" style=" margin-bottom : 5px; margin-top: 10px; font-family: 'Volkhov', serif; color:gray;">
      <div class="row">
        <div class="col">
          <i class="fab fa-whatsapp fa-2x"></i><!--style = "color : #4FCE5D"-->
        </div>
        <div class="col">
          <i class="fab fa-facebook fa-2x"></i><!--style = "color : #4267B2"-->
        </div>
        <div class="col">
          <i class="fab fa-youtube fa-2x"></i><!--style = "color : #e62117"-->
        </div>
        <div class="col">
          <i class="fab fa-facebook-messenger fa-2x"></i><!--style = "color : #4267B2"-->
        </div>
      </div>




    </div>
  </div>
</div>
