<div class="container-fluid fixed-bottom">
  <div class="row" style="height: 100%; background-color : #1a1a1a;">


    <div class="col-sm-2" style=" margin-bottom : 10px; margin-top: 15px; font-family: 'Amiri', serif; color:white;">
    </div>

    <div class="col-sm-4" style=" margin-bottom : 10px; margin-top: 15px; font-family: 'Amiri', serif; color:white;">
      <div class="row" style="margin-bottom : 10px;">
        <div class="col"> Siguenos
        </div>
      </div>
      <div class="row">
        <div class="col">
          <i class="fab fa-youtube fa-1x"> Youtube</i>
        </div>
        <div class="col" style="text-align : center">
          <i class="fab fa-facebook fa-1x"> Facebook</i><!--style = "color : "-->
        </div>
        <div class="col" style="margin-bottom : 50px;">
          <!--style = "color : #"-->
        </div>
      </div>
    </div>

    <div class="col-sm-4" style=" margin-bottom : 10px; margin-top: 15px; font-family: 'Amiri', serif; color:white;">
      <div class="row" style="margin-bottom : 10px;">
        <div class="col"> Contactanos
        </div>
      </div>
      <div class="row">
        <div class="col">
          <i class="fab fa-whatsapp"> Whatsapp</i>
        </div>
        <div class="col" style="text-align : center;">
          <i class="fab fa-facebook-messenger fa-1x"> Messenger</i><!--style = "color : #4FCE5D"-->
        </div>
        <div class="col" style="margin-bottom : 50px;">
          <!--style = "color : #4267B2"-->
        </div>
      </div>
    </div>
    <div class="col-sm-2" style=" margin-bottom : 10px; margin-top: 15px; font-family: 'Yrsa', serif; color:white;">
      <p><strong>Contactanos.</strong><br>Dulce ayuda centro psicologico integral para el apoyo en areas del alma. Servicios de rehabilitacion fisica y terapia</p>
    </div>

  </div>
</div>
